@import "./../../../../../../../../css//core/core-scss";
.checkbox-styled-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  margin-left: -1px;
}
