.new-grid-flag-wrap
	.new-grid-flag(matTooltip="New grid")
	static-grid.datagrid-static(
		[gridMode]="gridMode$ | async",
		[defaultConfig]="defaultConfig$ | async",
		[rowData]="data$ | async",
		[hasData]="hasData$ | async",
		[columnMetaData]="meta$ | async",
		[options]="options$ | async",
		filterControllerSG="",
		[selectedFilters]="selectedFilters$ | async",
		(selectedFiltersChange)="setFilters($event)",
		(displayedRowsCountChange)="displayedRowsCountChange($event)",
		(visibleColumnsChange)="visibleColumnsChange($event)",
		[customFilterRules]="customFilterRules$ | async",
		columnControllerSG="",
		[selectedGroupColumns]="selectedGroupColumns$ | async",
		(selectedGroupColumnsChange)="setGroupColumns($event)",
		[columnState]="columnState$ | async",
		(columnStateChange)="columnStateChange($event)",
		sortControllerSG="",
		[sortModel]="sortModel$ | async",
		(sortModelChange)="sortModelChange($event)",
		selectControllerSG="",
		[showCheckboxes]="showCheckboxes$ | async",
		[selectedDataIds]="selectedDataIds$ | async",
		(selectedDataRowsChange)="selectedDataRowsChange($event)",
		(gridReady)="onReady($event)",
		(dragAndDropUpdate)="dragAndDropUpdate($event)",
		(cellUpdate)="onCellUpdate($event)",
		[disabled]="disabled$ | async")
